.todo-item {
  font-weight: bold;
  cursor: pointer;
}

.todo-item.completed {
  text-decoration: line-through;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
}

input:focus {
  outline: 0;
}

button {
  padding: 0.5rem;
  font-size: 14px;
  margin-top: 1rem;
  border-radius: 5px;
  background: white;
}

button:active {
  outline: 0;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.delete-icon {
  display: none;
}

.delete-icon.include {
  display: block;
}
